button.omara {
  @include scale-object(3,3);
  @include scale-margin(0,.3,0,1);
  background: $white;
  background-image: radial-gradient(50% 50%, #a59797 30%, #ffffff 100%);
  border: 1px solid $white;
  border-radius: 50%;
}

.text-link {
  @include text-link($white);
}
