.globe {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vh;
  height: 90vh;
  border-radius: 50%;
  z-index: 2;

  @media (max-width: $mq-tablet) and (orientation:portrait) {
    height: 90vw;
    width: 90vw;
  }
}

.globe-black {
  //animation: glow 3s infinite alternate;
  background: url("./images/img-noise-800x800.png");
  background-size: contain;
  border-radius: 50%;
  transition: all 0.5s;
  z-index: 0;
}

.globe-gradient {
  background: radial-gradient(ellipse at center, #f2f2f2 2%, #090c06 86%, #0c0a04 100%, #090a05 100%);
  box-shadow: 0px 0px 4px #fff;
  border-radius: 50%;
  opacity: .4;
  z-index: 1;
}