.home-page-container {

  button.omara {
    @include scale-object(6,6);
    @include scale-margin(0,.5,0,1);
  }

  .group {
    text-align: center;
    width: 100%;

    h1.title-name {
      margin: 0;
      @include scale-text(6,2);
    }

    h2.title-job {
      margin: 0;
      @include scale-text(4,.8);
    }
  }

  .globe-home {
    background: rgba(0,0,0,.2);
  }

  .text-link {
    @include scale-text(6,.5);
  }
}