.home-page-container {

  button.omara {
    height: 6vh;
    margin-left: 1vh;
    margin-right: .5vh;
    width: 6vh;

    @media (max-width: $mq-tablet) and (orientation:portrait) {
      height: 6vw;
      margin-left: 1vw;
      margin-right: .5vw;
      width: 6vw;
    }
  }

  .group {
    text-align: center;
    width: 100%;

    h1.title-name {
      margin: 0;
      letter-spacing: 2vh;
      font-size: 6vh;

      @media (max-width: $mq-tablet) and (orientation:portrait) {
        font-size: 6vw;
        letter-spacing: 2vw;
      }
    }

    h2.title-job {
      margin: 0;
      letter-spacing: .8vh;
      font-size: 4vh;

      @media (max-width: $mq-tablet) and (orientation:portrait) {
        font-size: 4vw;
        letter-spacing: .8vw;
      }
    }
  }

  .text-link {
    font-size: 4vh;

    @media (max-width: $mq-tablet) and (orientation:portrait) {
      font-size: 4vw;
    }
  }
}