.about-page-container,
.work-page-container {
  align-items: center;
  display: flex;
  height: 98vh;
  flex-direction: column;
  justify-content: space-around;

  .globe {
    width: 75vh;
    height: 75vh;
  }

  #menu-about-link {
    font-size: 3rem;
    letter-spacing: .8rem;
  }

  #menu-work-link {
    font-size: 2rem;
    letter-spacing: .6rem;
  }

  .title-name {
    @include scale-text(3,.3);
  }
}