.work-page-container {

  #menu-work-link {
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    text-align: left;
  }

  .technologies-list {
    font-size: 1rem;
  }

  .work-header-title {
    border-left: 1px solid $white;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .work-header-wrapper {
    align-items: baseline;
    border-bottom: 1px solid $white;
    display: flex;
    padding-top: 1rem;
  }

  .work-project-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .work-project-text {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: $bold;
  }

  .work-project-title {
    font-size: 18px;
    font-weight: 500;
    padding-top: 1.5rem;
    width: 68%;
    z-index: 2;
  }
}
