////***------------------ Button & Link Mixins ------------------**/////

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@mixin text-link($color) {
  color: $color;
  cursor: pointer;
  text-decoration: none !important;
  transition: $transition-hover;

  &:hover {
    color: $white;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
}

@mixin font-awesome-close-up ($font-size) {

  &:hover,
  &:focus {
    font-size: $font-size+3px;
  }
}
