/* -------------------------- NORMALIZE -------------------------- */

@import "../node_modules/normalize.css";

/* -------------------------- OUTSIDE STYLESHEETS -------------------------- */



/* ---------------------------- GLOBAL ---------------------------- */

@import "styles/global/variables/var-colors";

@import "styles/global/variables/var-fonts";

@import "styles/global/variables/var-media-queries";

@import "styles/global/variables/var-other";

@import "styles/global/mixins/mixins-buttons";

@import "styles/global/mixins/mixins-px-to-rem";

@import "styles/global/base";

@import "styles/global/helpers";

/* -------------------------- COMPONENTS -------------------------- */

@import "styles/components/buttons-and-links";

@import "styles/components/work-list-menu";

@import "styles/components/work-list";

@import "styles/components/work-list-item";

@import "styles/components/globe";

/* -------------------------- CONTAINERS -------------------------- */

@import "styles/containers/pages-default";

@import "styles/containers/home-page";

@import "styles/containers/about-page";

@import "styles/containers/work-page";

/* -------------------------- MEDIA QUERIES -------------------------- */

@import "styles/global/mq-portrait";
